@media (max-width: 500px) {
    .main-nav {
        flex-wrap: wrap;
        width: 90%;
    }

    .nav-links {
        margin: 0 auto;
    }

    ul li {
        font-size: 14px;
    }

    .search-bar {
        margin: 0 auto;
    }

    .cards-container {
        flex-direction: column;
        width: 90%;
        margin-top: 50px;
    }

    .card {
        width: 100%;
        min-height: 560px;
    }

    .card-header img {
        background-size: cover;
        height: 300px;
    }
}

@media (min-width: 501px) and (max-width: 719px) {
    .main-nav {
        flex-wrap: wrap;
        width: 90%;
    }   

    .nav-links {
        margin: 0 auto;
    }

    ul li {
        font-size: 18px;
    }

    .search-bar {
        margin: 0 auto;
    }

    .cards-container {
        flex-direction: column;
        width: 90%;
        margin-top: 50px;
    }

    .card {
        width: 100%;
        min-height: 560px;
    }

    .card-header img {
        background-size: cover;
        height: 300px;
    }
}

@media (min-width: 720px){
    ul li{
        font-size: 20px;
    }
}
